<ion-header>

  <ion-navbar>
    <ion-title>{{ item.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <!--
  <div class="item-profile" text-center #photo [style.background-image]="'url(' + item.photo + ')'">
  </div>
  -->
  <div class="item-detail" padding>
    <h2>{{item.key}}
    	<ion-note item-end *ngIf="item.treeTypeName">{{item.treeTypeName}}</ion-note>
    </h2>
    <h3>{{item.name}}</h3>
    <p>
      <button ion-button icon-only (click)="openTreeStatusList(item)">
        <ion-icon name="document"></ion-icon>
      </button>
      {{ 'LIST_TREE_STATUS_TITLE' | translate }}: <b *ngIf="item.treeStatus[0]">{{item.treeStatus[0].statusName}}</b>
      
      <BR>
      <button ion-button icon-only (click)="openMap(item)">
        <ion-icon name="navigate"></ion-icon>
      </button>
      {{ 'MAP_TITLE' | translate }} 
    </p>
    <img width="380" height="380" [src]="item.photo" />
  </div>

</ion-content>