<ion-header>

  <ion-navbar>
    <ion-title>{{ item.name }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
  	<div padding>
	  <h4>
	  	<ion-note item-end *ngIf="item.treeTypeName">{{item.treeTypeName}}</ion-note>
	  	{{ 'LIST_TREE_STATUS_TITLE' | translate }}
	  </h4>
  	</div>
    <ion-item-sliding *ngFor="let status of item.treeStatus">
      <button ion-item (click)="openItem(item)">
        <h2>{{status.statusKey}} - {{status.statusName}}</h2>
        <h4 *ngIf="status.statusUpdatedAt.date">{{ 'UPDATED' | translate }}: {{status.statusUpdatedAt.date | date: 'yyyy MMM dd'}}</h4>
        <h4 *ngIf="status.statusEndDate">{{ 'END' | translate }}: {{status.statusEndDate | date: 'yyyy MMM dd'}}</h4>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          <!--{{ 'DELETE_BUTTON' | translate }}-->
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>